aenum==3.1.16
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622521119/work
argon2-cffi @ file:///C:/Users/task_176606713276293/croot/argon2-cffi_1766067885361/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925007150/work
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121591843/work
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356954445/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159347172/work
beautifulsoup4 @ file:///C:/Users/task_177029184171008/croot/beautifulsoup4-split_1770291942989/work
bleach @ file:///C:/miniconda3/conda-bld/bleach_1764153681122/work
blinker==1.9.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961370587/work
certifi @ file:///C:/Users/task_176765900829408/croot/certifi_1767659214946/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792265/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761745005832/work
click==8.3.1
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119240032/work
cryptography==46.0.5
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657701/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249812/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.3.1
distro==1.9.0
executing @ file:///C:/miniconda3/conda-bld/executing_1757061250618/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718732564/work
Flask==3.1.3
frozenlist==1.8.0
future==1.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.190.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-genai==1.64.0
googleapis-common-protos==1.72.0
grpcio==1.78.0
grpcio-status==1.71.2
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931279881/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httplib2==0.31.2
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447374704/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044050/work
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946093310/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1762789323276/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
itsdangerous==2.2.0
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
json5 @ file:///C:/miniconda3/conda-bld/json5_1763718659894/work
jsonschema @ file:///C:/Users/task_176795546861110/croot/jsonschema_1767955573227/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788559143/work
jupyter-events @ file:///C:/miniconda3/conda-bld/jupyter_events_1765813625854/work
jupyter-lsp @ file:///C:/Users/task_176977264821400/croot/jupyter-lsp_1769772760423/work
jupyter_client @ file:///C:/Users/task_176839910354009/croot/jupyter_client_1768399225952/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588344213/work
jupyter_server @ file:///C:/Users/task_176961318855095/croot/jupyter_server_1769613456739/work
jupyter_server_terminals @ file:///C:/Users/task_177028947499322/croot/jupyter_server_terminals_1770289599454/work
jupyterlab @ file:///C:/Users/task_177021308886759/croot/jupyterlab_1770213194854/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962938560339/croot/jupyterlab_server_1769629890799/work
line-bot-sdk==3.22.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779272071/work
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
multidict==6.7.1
nbclient @ file:///C:/b/abs_a09c4t3h8x/croot/nbclient_1741124030330/work
nbconvert @ file:///C:/b/abs_c27_60dzt8/croot/nbconvert-meta_1741191385337/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
notebook_shim @ file:///C:/Users/task_176962931554331/croot/notebook-shim_1769629908292/work
overrides @ file:///C:/miniconda3/conda-bld/overrides_1762349150310/work
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977624481/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781926029/work
pillow==12.1.1
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356607961/work
prometheus_client @ file:///C:/b/abs_8b175q_ub8/croot/prometheus_client_1744271638821/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745034319/work
propcache==0.4.1
proto-plus==1.27.1
protobuf==5.29.6
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896536656/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067065603/work
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496060165/work
pydantic==2.12.5
pydantic_core==2.41.5
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425708/work
pyparsing==3.3.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753028158/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==1.2.1
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590274458/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywinpty @ file:///C:/Users/task_176958928208665/croot/pywinpty_1769589538944/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465512847/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375608224/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536905217/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359611410/work
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366642821/work
Send2Trash @ file:///C:/Users/task_176817069519266/croot/send2trash_1768170816011/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329210479/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067061065/work
tenacity==9.1.4
terminado @ file:///C:/Users/task_176959141466282/croot/terminado_1769591760225/work
tinycss2 @ file:///C:/b/abs_df38owi5ma/croot/tinycss2_1738337725183/work
tornado @ file:///C:/Users/task_176599274942531/croot/tornado_1765992874871/work
tqdm==4.67.3
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
uritemplate==4.2.0
urllib3 @ file:///C:/Users/task_176781036847582/croot/urllib3_1767810492638/work
wcwidth @ file:///C:/Users/task_176777899121830/croot/wcwidth_1767779217471/work
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets==15.0.1
Werkzeug==3.1.6
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278197/work
wrapt==2.1.1
yarl==1.22.0
